streamlit-mic-recorder 
streamlit
openai-whisper 
ffmpeg
torch 
torchaudio
faster-whisper 
st-audiorec
streamlit-webrtc
librosa
numpy
soundfile
whisper
scipy
streamlit-audiorecorder
sounddevice
pandas
plotly
requests
fastapi
uvicorn
httpx
